* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  font-size: 15px;
  background-color: hsl(36, 100%, 99%);
}

.container {
  width: 1120px;
  display: flex;
  flex-direction: column;
}

header {
  margin: 90px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .links {
  display: flex;
  gap: 40px;
}

.links a {
  cursor: pointer;
}

.links a:hover {
  color: hsl(5, 85%, 63%);
}

.menu-button {
  display: none;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px auto;
  gap: 30px;
  grid-template-areas:
    "image image new"
    "title preview new";
}

.grid-container .main-image {
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/image-web-3-desktop.jpg");
  background-size: cover;
  grid-area: image;
}

.grid-container h1 {
  grid-area: title;
  font-size: 55px;
  font-weight: 900;
  line-height: 55px;
}

.grid-container .preview {
  grid-area: preview;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.preview p {
  line-height: 25px;
  letter-spacing: 0.1px;
}

.preview button {
  border: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(240, 100%, 5%);
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}

.preview button:hover {
  color: hsl(233, 8%, 79%);
  background-color: hsl(240, 100%, 5%);
}

.grid-container .new-container {
  grid-area: new;
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 30px 23px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.new-container h2 {
  color: hsl(35, 77%, 62%);
  font-size: 40px;
}

.new-container h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.new-container h3:hover {
  color: hsl(35, 77%, 62%);
}

.new-container p {
  line-height: 25px;
  color: hsl(233, 8%, 79%);
}

.new-container hr {
  border: none;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.top-articles {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.top-articles .article {
  flex: 1;
  display: flex;
  gap: 12px;
}

.article .left {
  flex: 1;
}

.article img {
  width: 90%;
}

.article .right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right h2 {
  color: hsl(5, 85%, 63%);
  font-size: 33px;
  line-height: 32px;
}

.right h3 {
  font-weight: 900;
  cursor: pointer;
}

.right h3:hover {
  color: hsl(5, 85%, 63%);
}

.right p {
  line-height: 25px;
  color: hsl(236, 13%, 42%);
}

dialog {
  height: 100%;
  max-height: 100%;
  width: 70%;
  max-width: 70%;
  background-color: hsl(36, 100%, 99%);
  position: fixed;
  left: auto;
  right: 0;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 30px 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

dialog[open] {
  transform: translateX(0);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog .menu-close {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  cursor: pointer;
}

dialog .links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  header {
    margin: 15px 0 30px;
  }

  header .logo img {
    width: 45px;
  }

  header .links {
    display: none;
  }

  header .menu-button {
    display: block;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .grid-container .main-image {
    background-image: url("./assets/images/image-web-3-mobile.jpg");
    height: 300px;
  }

  .grid-container h1 {
    font-size: 40px;
    font-weight: 900;
  }

  .grid-container .preview {
    gap: 25px;
  }

  .grid-container .new-container {
    margin-top: 40px;
  }

  .new-container h2 {
    font-size: 34px;
  }

  .top-articles {
    flex-direction: column;
  }
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
